.banner {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../../Images/wishlist.jpg);
    /* background-image: url("../../Images/room.jpg"); */
    background-size: cover;
    background-position: center;
}

.center {
    margin-top: 80px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center h1 {
    margin-bottom: 40px;
}