<div class="banner">
    <app-user-header></app-user-header>
    <div class="container">
        <div class="offer">
            <h1>** 30% off on shopping above <span>5000</span> rupess **</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 spacer" *ngFor="let ele of products">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ele.imageurl}}" alt="Card image cap" style=" width: 288px;height: 288px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ele.id}} - {{ele.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-danger">{{ele.price}}/- only</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-secondary" (click)="addCart(ele)">CART</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-secondary" (click)="addtoWishList(ele)">WISHLIST</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>